# Device needed by shared transport layer
/dev/block/mmcblk0*    0660   root system


/dev/rfkill                             0660   bluetooth  bluetooth
/dev/ttyAMA0                            0660   bluetooth  net_bt_stack
